@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}

span {
  display: block;
}

.outline {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: auto;
  background-color: white;
}
.top {
  text-align: left;
}
.bottom {
  text-align: left;
  transform: rotate(180deg);
}
.mid {
  color: red;
}
.shadow {
  box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
}
.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
